/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/



.na1 { margin: -var(--spacing-quarter); }
.na2 { margin: -var(--spacing-half); }
.na3 { margin: -var(--spacing-one); }
.na4 { margin: -var(--spacing-two); }
.na5 { margin: -var(--spacing-three); }
.na6 { margin: -var(--spacing-four); }
.na7 { margin: -var(--spacing-five); }
.na8 { margin: -var(--spacing-six); }
.na9 { margin: -var(--spacing-seven); }
.na10 { margin: -var(--spacing-eight); }

.nl1 { margin-left: -var(--spacing-quarter); }
.nl2 { margin-left: -var(--spacing-half); }
.nl3 { margin-left: -var(--spacing-one); }
.nl4 { margin-left: -var(--spacing-two); }
.nl5 { margin-left: -var(--spacing-three); }
.nl6 { margin-left: -var(--spacing-four); }
.nl7 { margin-left: -var(--spacing-five); }
.nl8 { margin-left: -var(--spacing-six); }
.nl9 { margin-left: -var(--spacing-seven); }
.nl10 { margin-left: -var(--spacing-eight); }

.nr1 { margin-right: -var(--spacing-quarter); }
.nr2 { margin-right: -var(--spacing-half); }
.nr3 { margin-right: -var(--spacing-one); }
.nr4 { margin-right: -var(--spacing-two); }
.nr5 { margin-right: -var(--spacing-three); }
.nr6 { margin-right: -var(--spacing-four); }
.nr7 { margin-right: -var(--spacing-five); }
.nr8 { margin-right: -var(--spacing-six); }
.nr9 { margin-right: -var(--spacing-seven); }
.nr10 { margin-right: -var(--spacing-eight); }

.nb1 { margin-bottom: -var(--spacing-quarter); }
.nb2 { margin-bottom: -var(--spacing-half); }
.nb3 { margin-bottom: -var(--spacing-one); }
.nb4 { margin-bottom: -var(--spacing-two); }
.nb5 { margin-bottom: -var(--spacing-three); }
.nb6 { margin-bottom: -var(--spacing-four); }
.nb7 { margin-bottom: -var(--spacing-five); }
.nb8 { margin-bottom: -var(--spacing-six); }
.nb9 { margin-bottom: -var(--spacing-seven); }
.nb10 { margin-bottom: -var(--spacing-eight); }

.nt1 { margin-top: -var(--spacing-quarter); }
.nt2 { margin-top: -var(--spacing-half); }
.nt3 { margin-top: -var(--spacing-one); }
.nt4 { margin-top: -var(--spacing-two); }
.nt5 { margin-top: -var(--spacing-three); }
.nt6 { margin-top: -var(--spacing-four); }
.nt7 { margin-top: -var(--spacing-five); }
.nt8 { margin-top: -var(--spacing-six); }
.nt9 { margin-top: -var(--spacing-seven); }
.nt10 { margin-top: -var(--spacing-eight); }

@media (--breakpoint-not-small) {

  .na1-ns { margin: -var(--spacing-quarter); }
  .na2-ns { margin: -var(--spacing-half); }
  .na3-ns { margin: -var(--spacing-one); }
  .na4-ns { margin: -var(--spacing-two); }
  .na5-ns { margin: -var(--spacing-three); }
  .na6-ns { margin: -var(--spacing-four); }
  .na7-ns { margin: -var(--spacing-five); }
  .na8-ns { margin: -var(--spacing-six); }
  .na9-ns { margin: -var(--spacing-seven); }
  .na10-ns { margin: -var(--spacing-eight); }

  .nl1-ns { margin-left: -var(--spacing-quarter); }
  .nl2-ns { margin-left: -var(--spacing-half); }
  .nl3-ns { margin-left: -var(--spacing-one); }
  .nl4-ns { margin-left: -var(--spacing-two); }
  .nl5-ns { margin-left: -var(--spacing-three); }
  .nl6-ns { margin-left: -var(--spacing-four); }
  .nl7-ns { margin-left: -var(--spacing-five); }
  .nl8-ns { margin-left: -var(--spacing-six); }
  .nl9-ns { margin-left: -var(--spacing-seven); }
  .nl10-ns { margin-left: -var(--spacing-eight); }

  .nr1-ns { margin-right: -var(--spacing-quarter); }
  .nr2-ns { margin-right: -var(--spacing-half); }
  .nr3-ns { margin-right: -var(--spacing-one); }
  .nr4-ns { margin-right: -var(--spacing-two); }
  .nr5-ns { margin-right: -var(--spacing-three); }
  .nr6-ns { margin-right: -var(--spacing-four); }
  .nr7-ns { margin-right: -var(--spacing-five); }
  .nr8-ns { margin-right: -var(--spacing-six); }
  .nr9-ns { margin-right: -var(--spacing-seven); }
  .nr10-ns { margin-right: -var(--spacing-eight); }

  .nb1-ns { margin-bottom: -var(--spacing-quarter); }
  .nb2-ns { margin-bottom: -var(--spacing-half); }
  .nb3-ns { margin-bottom: -var(--spacing-one); }
  .nb4-ns { margin-bottom: -var(--spacing-two); }
  .nb5-ns { margin-bottom: -var(--spacing-three); }
  .nb6-ns { margin-bottom: -var(--spacing-four); }
  .nb7-ns { margin-bottom: -var(--spacing-five); }
  .nb8-ns { margin-bottom: -var(--spacing-six); }
  .nb9-ns { margin-bottom: -var(--spacing-seven); }
  .nb10-ns { margin-bottom: -var(--spacing-eight); }

  .nt1-ns { margin-top: -var(--spacing-quarter); }
  .nt2-ns { margin-top: -var(--spacing-half); }
  .nt3-ns { margin-top: -var(--spacing-one); }
  .nt4-ns { margin-top: -var(--spacing-two); }
  .nt5-ns { margin-top: -var(--spacing-three); }
  .nt6-ns { margin-top: -var(--spacing-four); }
  .nt7-ns { margin-top: -var(--spacing-five); }
  .nt8-ns { margin-top: -var(--spacing-six); }
  .nt9-ns { margin-top: -var(--spacing-seven); }
  .nt10-ns { margin-top: -var(--spacing-eight); }

}

@media (--breakpoint-medium) {
  .na1-m { margin: -var(--spacing-quarter); }
  .na2-m { margin: -var(--spacing-half); }
  .na3-m { margin: -var(--spacing-one); }
  .na4-m { margin: -var(--spacing-two); }
  .na5-m { margin: -var(--spacing-three); }
  .na6-m { margin: -var(--spacing-four); }
  .na7-m { margin: -var(--spacing-five); }
  .na8-m { margin: -var(--spacing-six); }
  .na9-m { margin: -var(--spacing-seven); }
  .na10-m { margin: -var(--spacing-eight); }

  .nl1-m { margin-left: -var(--spacing-quarter); }
  .nl2-m { margin-left: -var(--spacing-half); }
  .nl3-m { margin-left: -var(--spacing-one); }
  .nl4-m { margin-left: -var(--spacing-two); }
  .nl5-m { margin-left: -var(--spacing-three); }
  .nl6-m { margin-left: -var(--spacing-four); }
  .nl7-m { margin-left: -var(--spacing-five); }
  .nl8-m { margin-left: -var(--spacing-six); }
  .nl9-m { margin-left: -var(--spacing-seven); }
  .nl10-m { margin-left: -var(--spacing-eight); }

  .nr1-m { margin-right: -var(--spacing-quarter); }
  .nr2-m { margin-right: -var(--spacing-half); }
  .nr3-m { margin-right: -var(--spacing-one); }
  .nr4-m { margin-right: -var(--spacing-two); }
  .nr5-m { margin-right: -var(--spacing-three); }
  .nr6-m { margin-right: -var(--spacing-four); }
  .nr7-m { margin-right: -var(--spacing-five); }
  .nr8-m { margin-right: -var(--spacing-six); }
  .nr9-m { margin-right: -var(--spacing-seven); }
  .nr10-m { margin-right: -var(--spacing-eight); }

  .nb1-m { margin-bottom: -var(--spacing-quarter); }
  .nb2-m { margin-bottom: -var(--spacing-half); }
  .nb3-m { margin-bottom: -var(--spacing-one); }
  .nb4-m { margin-bottom: -var(--spacing-two); }
  .nb5-m { margin-bottom: -var(--spacing-three); }
  .nb6-m { margin-bottom: -var(--spacing-four); }
  .nb7-m { margin-bottom: -var(--spacing-five); }
  .nb8-m { margin-bottom: -var(--spacing-six); }
  .nb9-m { margin-bottom: -var(--spacing-seven); }
  .nb10-m { margin-bottom: -var(--spacing-eight); }

  .nt1-m { margin-top: -var(--spacing-quarter); }
  .nt2-m { margin-top: -var(--spacing-half); }
  .nt3-m { margin-top: -var(--spacing-one); }
  .nt4-m { margin-top: -var(--spacing-two); }
  .nt5-m { margin-top: -var(--spacing-three); }
  .nt6-m { margin-top: -var(--spacing-four); }
  .nt7-m { margin-top: -var(--spacing-five); }
  .nt8-m { margin-top: -var(--spacing-six); }
  .nt9-m { margin-top: -var(--spacing-seven); }
  .nt10-m { margin-top: -var(--spacing-eight); }

}

@media (--breakpoint-large) {
  .na1-l { margin: -var(--spacing-quarter); }
  .na2-l { margin: -var(--spacing-half); }
  .na3-l { margin: -var(--spacing-one); }
  .na4-l { margin: -var(--spacing-two); }
  .na5-l { margin: -var(--spacing-three); }
  .na6-l { margin: -var(--spacing-four); }
  .na7-l { margin: -var(--spacing-five); }
  .na8-l { margin: -var(--spacing-six); }
  .na9-l { margin: -var(--spacing-seven); }
  .na10-l { margin: -var(--spacing-eight); }

  .nl1-l { margin-left: -var(--spacing-quarter); }
  .nl2-l { margin-left: -var(--spacing-half); }
  .nl3-l { margin-left: -var(--spacing-one); }
  .nl4-l { margin-left: -var(--spacing-two); }
  .nl5-l { margin-left: -var(--spacing-three); }
  .nl6-l { margin-left: -var(--spacing-four); }
  .nl7-l { margin-left: -var(--spacing-five); }
  .nl8-l { margin-left: -var(--spacing-six); }
  .nl9-l { margin-left: -var(--spacing-seven); }
  .nl10-l { margin-left: -var(--spacing-eight); }

  .nr1-l { margin-right: -var(--spacing-quarter); }
  .nr2-l { margin-right: -var(--spacing-half); }
  .nr3-l { margin-right: -var(--spacing-one); }
  .nr4-l { margin-right: -var(--spacing-two); }
  .nr5-l { margin-right: -var(--spacing-three); }
  .nr6-l { margin-right: -var(--spacing-four); }
  .nr7-l { margin-right: -var(--spacing-five); }
  .nr8-l { margin-right: -var(--spacing-six); }
  .nr9-l { margin-right: -var(--spacing-seven); }
  .nr10-l { margin-right: -var(--spacing-eight); }

  .nb1-l { margin-bottom: -var(--spacing-quarter); }
  .nb2-l { margin-bottom: -var(--spacing-half); }
  .nb3-l { margin-bottom: -var(--spacing-one); }
  .nb4-l { margin-bottom: -var(--spacing-two); }
  .nb5-l { margin-bottom: -var(--spacing-three); }
  .nb6-l { margin-bottom: -var(--spacing-four); }
  .nb7-l { margin-bottom: -var(--spacing-five); }
  .nb8-l { margin-bottom: -var(--spacing-six); }
  .nb9-l { margin-bottom: -var(--spacing-seven); }
  .nb10-l { margin-bottom: -var(--spacing-eight); }

  .nt1-l { margin-top: -var(--spacing-quarter); }
  .nt2-l { margin-top: -var(--spacing-half); }
  .nt3-l { margin-top: -var(--spacing-one); }
  .nt4-l { margin-top: -var(--spacing-two); }
  .nt5-l { margin-top: -var(--spacing-three); }
  .nt6-l { margin-top: -var(--spacing-four); }
  .nt7-l { margin-top: -var(--spacing-five); }
  .nt8-l { margin-top: -var(--spacing-six); }
  .nt9-l { margin-top: -var(--spacing-seven); }
  .nt10-l { margin-top: -var(--spacing-eight); }
}

